# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directories:
      - "/src/nucleusiq/"
      - "/src/providers/llms/openai/"
      - "/src/providers/llms/gemini/"
      - "/src/providers/inference/ollama/"
      - "/src/providers/inference/groq/"
      - "/src/providers/dbs/chroma/"
      - "/src/providers/dbs/pinecone/"
    schedule:
      interval: "weekly"
    groups:
      pip-deps:
        patterns:
          - "*"

  - package-ecosystem: "uv"
    directories:
      - "/src/nucleusiq/"
      - "/src/providers/llms/openai/"
      - "/src/providers/llms/gemini/"
      - "/src/providers/inference/ollama/"
      - "/src/providers/inference/groq/"
      - "/src/providers/dbs/chroma/"
      - "/src/providers/dbs/pinecone/"
    schedule:
      interval: "weekly"
    groups:
      uv-deps:
        patterns:
          - "*"
